body{
    font-family: 'Roboto', sans-serif;
}
body>div{
    width: 360px;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
h1{
    text-align: center;
    padding-top: 15px;

}
form {
    width: 300px;
    margin-left: 20px;
    
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(95, 155, 6);
    color:white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: gray;
    
}